<section class="row">
  <div class="col s12">
    {{#each articles}}
      {{#if saved}}
      <article class="card horizontal cyan lighten-5" id="news{{_id}}">
        {{!-- <div class="card-image hide-on-med-and-down">
          <img src="{{image}}" alt="{{headline}}">
        </div> --}}

        <div class="card-stacked">
          {{!-- <div class="card-image hide-on-med-and-up	">
            <img src="{{image}}" alt="{{headline}}">
          </div> --}}
          <div class="card-content">
            <h3><a href="{{url}}" target="_blank" class="light-blue-text text-darken-3">{{headline}}</a></h3>

            <p>{{summary}}</p>

            <a class="btn-floating btn-large right waves-effect waves-light red darken-3 delete" data-id="{{_id}}">
              <i class="material-icons">delete</i>
            </a>

            <a class="btn-floating btn-large right waves-effect waves-light amber darken-3 note" data-id="{{_id}}">
              <i class="material-icons">edit</i>
            </a>
          </div>
        </div>
      </article>
      {{/if}}

    {{else}}
    <h3 class="center">No saved articles!</h3>

    <div class="row center">
      <div class="col s12">
        <a class="waves-effect waves-light btn cyan darken-3" href="/">Browse Articles to Save</a>
      </div>
    </div>
    {{/each}}
  </div>
</section>

{{!-- Modal for Notes --}}
<div id="article-notes" class="modal">
  <div class="modal-content">
    <ul id="current-notes" class="collection with-header">
      <li id="new-note" class="collection-header center">
        <h4 class="center"><a href="#" class="blue-text text-darken-3"></a></h4>

        <div class="input-field col s12 m6">
          <textarea id="note-body" class="materialize-textarea" required></textarea>
          <label for="note-body" class="black-text">Note</label>
        </div>

        <div class="col s12 m6">
          By: 
          <div class="input-field inline">
            <input id="note-author" type="text" class="validate" required>
            <label for="note-author" class="black-text">Author</label>
          </div>
        </div>

        <button id="note-create" class="btn btn-flat waves-effect waves-light amber darken-2 white-text" data-id="noteId">Submit Note</button>
      </li>
    </ul>
  </div>
</div>