<section class="row">
  <div class="col s12">
    {{#each articles}}
      {{#if saved}}
      <div class="card horizontal">
        <div class="card-image hide-on-med-and-down">
          <img src="{{image}}" alt="{{headline}}">
        </div>

        <div class="card-stacked">
          <div class="card-image hide-on-med-and-up	">
            <img src="{{image}}" alt="{{headline}}">
          </div>
          <div class="card-content">
            <h3><a href="{{url}}">{{headline}}</a></h3>

            <p>{{summary}}</p>

            <a class="btn-floating btn-large right waves-effect waves-light red" data-id="{{_id}}">
              <i class="material-icons">save</i>
            </a>
          </div>
        </div>
      </div>
      {{/if}}

    {{else}}
    <h3 class="center">No saved articles!</h3>

    <div class="row center">
      <div class="col s12">
        <a class="waves-effect waves-light btn scrape">Browse Articles to Save</a>
      </div>
    </div>
    {{/each}}
  </div>
</section>